---
import Navigation from '../components/Navigation.astro';
import { GoogleAnalytics } from "astro-analytics"
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_DEFAULT_OG_IMAGE,
} from '../site_config';

export interface Props {
  /** Title of the page */
	title?: string;
  /** Description of the page */
  description?: string;
  /** OpenGraph thumbnail of the page */
  thumbnail?: {
    /** URL of the thumbnail */
    src: string;
    /** Alt text of the thumbnail */
    alt: string;
  };
  /** Canonical URL of the page */
  canonical?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  thumbnail = {
    src: SITE_DEFAULT_OG_IMAGE,
    alt: SITE_TITLE
  },
  canonical,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{title}</title>
    <meta name="description" content={description}>
		<meta name="generator" content={Astro.generator} />
    {canonical && <link rel="canonical" href={canonical} />}

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={thumbnail.src} />
    <meta property="og:url" content={Astro.request.url} />
    <meta name="twitter:card" content="summary_large_image" />
    
	</head>
  <body class="dark:bg-zinc-900 scroll-smooth dark:[color-scheme:dark]">
    <Navigation/>
		<slot/>
    <!-- Footer Section -->
    <footer class="w-full bg-gray-100 dark:bg-zinc-800 py-6 border-t dark:border-zinc-700">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center">
          <div>
            <p class="text-sm text-gray-600 dark:text-gray-400">&copy; {new Date().getFullYear()} {SITE_TITLE}. All rights reserved.</p>
          </div>

          <div>
            <a href="https://github.com/keshavbiswa/confuscript" class="text-sm text-blue-600 dark:text-blue-400 hover:underline">GitHub</a>
            <a href="https://x.com/keshavbiswa" class="text-sm text-blue-600 dark:text-blue-400 hover:underline ml-4">Twitter</a>
          </div>
        </div>
      </div>
    </footer>
	</body>
  <GoogleAnalytics id="G-ENM53243L7" />
</html>
